---
layout: default
title: Tags
permalink: /tag/
page-class: page--tag
---

{% for tag in site.tags %}
<section class="articles">
   <h1>{{ tag | first }}</h1>
        {% for posts in tag %}
        	{% for post in posts %}
	    	<article class="article">
	           
	            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	             <div class="meta">
	             	 <span class="post__time">{{ post.date | date: "%d %B, %Y" }}</span>
	             	 <ul class="tags">
	             	 	  {% for _tag in post.tags %}
	             	 	  	<li>{{ _tag }}</li>
	             	 	  {% endfor %}
	             	 </ul>
	             </div>
	            
	              {{ post.content | strip_html | truncatewords:50}}<br>
	            <a href="{{ post.url }}">Read more</a>
	        </article>
        {% endfor %}
	{% endfor %}

</section>

{% endfor %}

{% for tag in site.tags %}
<div class="box">
	<h1>{{ tag | first }}<a name="{{ tag | first | cgi_escape }}"></a><span class="hint" >({{tag | last | size}})</span></h1>
	<ul class="postList">	
	{% for posts in tag %}
      {% for post in posts %}
		<li class="nested"><a href="{{ post.url }}" title="{{ post.excerpt }}">{{ post.title }} <span>{{ post.date | date: '%d.%m.%y' }}</span></a></li>						
	{% endfor %}{% endfor %}
	</ul>
</div>				
{% endfor %}
	


