<!DOCTYPE html>
<html lang="en" class="{{ page.page-class }}">
	<head>
		<title>{{ page.title }} &ndash; jebaird.com &ndash; The personal blog of Jesse Baird</title>
		
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
		
		<link rel="dns-prefetch" href="//google-analytics.com" />
		<link rel="dns-prefetch" href="//platform.twitter.com" />
		<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
		
		<link rel="stylesheet" href="/css/styles.css" type="text/css"/>
		<body>
			<canvas id="header-graphic" width="1000" height="100"></canvas>
			<div class="row header">
				<div class="logo">
					<h1><a href="/"><span class="firstname">Jesse</span> <span class="lastname">Baird</span></a></h1>
				</div>
				<nav>
					<ul>
						<li class="nav-item-home">
							<a href="/">Home</a>
						</li>
						<li class="nav-item-projects">
							<a href="/tag/#projects">Projects</a>
						</li>
						<li class="nav-item-about">
							<a href="/about/">About</a>
						</li>
						<li class="nav-item-contact">
							<a href="/contact/">Contact</a>
						</li>
					</ul>

				</nav>

			</div>

			