<!DOCTYPE html>
<html lang="en" class="{{ page.page-class }}">
	<head>
		<title>{{ page.title }} &ndash; {{ site.owner_name }}</title>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0">
		<meta charset="UTF-8">
		<link rel="dns-prefetch" href="//google-analytics.com" />
		<link rel="dns-prefetch" href="//platform.twitter.com" />
		<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
		<link rel="dns-prefetch" href="//googleads.g.doubleclick.net" />
		<link rel="dns-prefetch" href="//pbs.twimg.com" />
		<link rel="dns-prefetch" href="//si0.twimg.com" />

		<link href="/rss.xml" rel="alternate" type="application/rss+xml" title="jebaird.com" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

		<link rel="stylesheet" href="/css/styles.css" type="text/css"/>
		<body>
			<canvas id="header-graphic" width="1000" height="100"></canvas>
			<div class="row header">
				<div class="logo">
					<h1><a href="/"><span class="firstname">Jesse</span> <span class="lastname">Baird</span></a></h1>
                    <div class="logo__tagline">software narrator, tinkerer.</div>
				</div>
				<nav>
					<ul>
						<li class="nav-item-home">
							<a href="/" title="Home sweet home, view the list of posts">Home</a>
						</li>
						<li class="nav-item-projects">
							<a href="/tag/#projects" title="View posts tagged in projects">Projects</a>
						</li>
						<li class="nav-item-about">
							<a href="/about/" title="Who is Jesse Baird">About</a>
						</li>
						<li class="nav-item-contact">
							<a href="/contact/" title="Where to find Jesse Baird on the web">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
