#wrapper {
	margin: 20px;
}
.jb-overflowmenu {
	position: relative;
}
.item {
	padding: 0px 8px;
	display: inline-block;
}
.jb-overflowmenu-menu-secondary {
	text-align: right;
	border: 1px solid black;
}