/**
 * override skeleton
 */
body .container{
	margin: 0px 1em;
}


html {
	background-attachment: fixed;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(60%,rgba(255,255,255,1)), color-stop(100%,rgba(100,100,100,1))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(left,  rgba(255,255,255,1) 60%,rgba(100,100,100,1) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(left,  rgba(255,255,255,1) 60%,rgba(100,100,100,1) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(left,  rgba(255,255,255,1) 60%,rgba(100,100,100,1) 100%); /* IE10+ */
	background-image: linear-gradient(left,  rgba(255,255,255,1) 60%,rgba(100,100,100,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4f4', endColorstr='#aeacb4',GradientType=1 ); /* IE6-9 */
}

body{
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222;
}

a{
	color: #0059E0;
	cursor: pointer;
}

img {
	border-radius: 4px;
	/*responsive image hack*/
	max-width: 100%;
}
video{
	max-width: 100%;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	line-height: 1.5em;
	overflow: auto;
	padding: .5em .8em;
	border-radius: 2px;
}

p > code {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

a:hover{
	text-decoration: none;
}

#header-graphic{
	position: absolute;
	z-index: 1;
}

.header {
	position: relative;
	z-index: 10;
	top: 10px;
	padding: .4em 1em;
	background-color: rgba(255, 255, 255, 0.85);
}

/*header nav*/
.header nav{
	display: inline-block;
	float: left;
	margin-top: .5em;
}
.header nav ul{
	padding:0px;
	margin: 0px;
}

.header nav li{
	display: inline-block;
	float: left;
	padding: 0px 0.40em;
	font-size: 1.5em;
}
.header nav a{
	text-decoration: none;
	color: #333;
	text-shadow: 1px 1px 1px rgba(0,0,0, .25);
}
.header nav a:hover{
	text-shadow: 1px 1px 1px rgba(0,0,0, .75);	
}

.page-home .header .nav-item-home a,
.page-tag .header .nav-item-projects a,
.page-about .header .nav-item-about a,
.page-contact .header .nav-item-contact a{
	color: #90CD1A;
	text-shadow: 1px 1px 1px rgba(0,0,0, .95);
}

/*wraps all*/
.page{
	z-index: 100;
}

/*
 * logo style / name
 */
.logo{
	display: inline-block;
	float: left;
	padding-right: 25px;
}
.logo h1{
	margin: 0px;
	display: inline;
	font-size: 2.5em;
}
.logo a {
	text-decoration: none;
}
.logo h1 .firstname{
	font-weight: lighter;
	color: #000;
	
}
.logo h1 .lastname{
	color: #A1D53E;
	font-weight: lighter;
}

/*
 * page-body all page content is wrapped by this elements
 */
.page-body {
	line-height: 2;
}
.page-body h1{
	font-weight: 600;
}

/*
 * 
 * article list
 */
.articles .article{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E4E4E7;
}
.articles h2,
.articles h2 a {
    margin-bottom: 0em;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: lighter;
}
/*
 * posted date
 */
.articles .meta{
    margin-bottom: .5em;
    font-size: .9em;
    color: #696575;
    line-height: 1em;
}

.articles .meta .label {
	padding-left: 0.5em;
}
.articles .tags {
    margin: 0px !important;
    padding: 0px !important;
    display: inline;
    
}
.articles  .tags li {
	display: inline-block;
	margin-left: 0.5em;
}

footer{
	padding: 2em;
}


/*post*/
.post h2{
	border-bottom: 1px solid #E4E4E7;
}


/*
 * ######## sidebar 
 */
.sidebar {
	line-height: 1.7;
	font-size: .9em;
/*	makes it more readable in a the gray gradient*/
	text-shadow: 0px 0px 1px rgba( 255, 255, 255, 0.7 )
}

.sidebar h3{
	border-bottom: 1px solid rgba(255,255,255,.4);
	text-transform: capitalize;
}
.sidebar ul{
    list-style: none outside none !important;
    padding: 0px;
    margin: 0px;
}
.sidebar li{
    padding: 0px 0px .3em 2em;
    margin:0px 0px .8em 0px;
    list-style: none outside none !important;
    
   
    
/*    make this list markers the right size */
    -webkit-background-size: 1.4em 1.4em;
    background-size: 1.4em 1.4em;
    
    
}
.sidebar li:before{
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
	background-image: url('/css/img/sprite-list-style.png');
	background-size: 16px 52px;
	content: "\0020";
	margin: 2px 0px 0px -21px;
	
}
.sidebar li:nth-of-type(odd):before{
	background-position: 0px -36px;
}
.sidebar li:hover{
	background-color: rgba(255,255,255, 0.1);
	border-radius: 3px;
}

/*
 * tags list
 */
.sidebar .tags li{
	display: inline-block;
}
/*quickabout - override sleton*/
html .sidebar .about .two.columns{
   width: 100px;
}

.sidebar .about p{
	border-radius: 3px;
	padding: 0px .3em 0px 0px;
	background-color: rgba(255,255,255,0.7);
	padding-left: 1em;
}

/*
 * pager
 */

.pagination{
	list-style: none;
	padding: 0px;
	font-size: 1.3em;
}
.pagination li {
  display: inline;
}
.pagination li a{
	padding: 5px 7px;
}
.pagination li a:hover{
	background: rgba(0,0,0,0.3);
	color: #fff;
	border-radius: 4px;
}
.pagination .pagination-next{
	float: right;
} 
