{% include layout-header.html %}
<main class="container page" role="main">
	<div class="row">
		<div class="eleven columns page-body">
			<h1>{{page.title}}</h1>

            {% if page.meta == true %}
            <div class="post__meta">
                 <span class="post__time">{{ page.date | date: "%B %d, %Y" }}</span>
                 
                 {{ if page.tags.size }}
                 <span class="label">Tagged in: </span>
                 <ul class="tags">
                      {% for tag in page.tags %}
                            <li><a href="/tag/#{{ tag }}">{{ tag }}</a></li>
                      {% endfor %}
                 </ul>
                 {{ endif }}
                
             </div>

        {% endif %}
			{{ content }}
		</div>
		<!-- end of body -->

		<div class="omega offset-by-eleven sidebar">
			{% include block-quick-about.md %}

			{% include block-recent-posts.md %}
			{% include block-tweets.html %}
			{% include block-google-ads.md %}
			{% include block-tags.md %}
			

		</div><!--end of sidebar-->

	</div>
</main>

{% include layout-footer.html %}
