<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>Jesse Baird's wallpaper collection</title>
        <description>
            A set of hand picked wallpapers from various sources around the web. 
            Images prefixed with jebaird- are ones that Jesse Baird took.
            wallpaper- indicates that the image was downloaded from wallbase.cc
            All images are property of their owners. Windows 7 Theme found here - {{site.production_url}}/wallpapers/jebaird-collection.theme
        </description>
        <link>{{ site.production_url }}wallpapers/</link>
        <lastBuildDate>{{ site.time | date_to_rfc822  }}</lastBuildDate>
        <pubDate>{{ site.time | date_to_rfc822  }}</pubDate>
        <ttl>1800</ttl>
{% for img in page.images %}
        <item>
            <title>{{img}}</title>
            <description>
                <![CDATA[
            <a href="{{site.production_url}}/{{img}}"><img src="{{site.production_url}}/{{img}}"></a>]]>
            </description>

            
            <guid>{{site.production_url}}/{{img}}</guid>
            <enclosure url="{{site.production_url}}/{{img}}" type="image/*"/>
            
        </item>
{% endfor %}
    </channel>
</rss>